.vehicles__container {
	font-size: 1.2rem;
}

.vehicles__filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 10px;
}

.vehicles__list {
	list-style-type: none;
	display: grid;
	margin: 0;
	padding: 0;
}

@media (min-width: 480px) {
	.vehicles__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 640px) {
	.vehicles__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	.vehicles__list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1024px) {
	.vehicles__list {
		grid-template-columns: repeat(5, 1fr);
	}
}

.vehicles__list h2,
.vehicles__list p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.vehicles__list h2 {
	max-width: 180px;
	margin-left: auto;
    margin-right: auto;
	font-size: 1.2em;
}

.vehicles__list p {
	font-size: 0.7em;
}

.vehicle__details__trigger {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 12px;
	font-size: 0.6em;
	background-color: var(--green-color);
	color: var(--white-color);;
	cursor: pointer;
}

.vehicle__link {
	text-decoration: none;
	display: flex;
	height: 100%;
}

.vehicle {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
	margin: 10px;
	border: 1px solid var(--grey-color);
	padding: 10px;
	background-color: var(--grey-light-color);
}

.vehicle header {
	flex: 1 1 100px;
	border-bottom: 2px solid var(--white-color);;
}